.Container {
  margin: 5rem 2rem 2rem 2rem;
  background: #ffffff;
  height: 100%;
  position: relative;
}

.Overlay {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 200;
  width: 100%;
  height: 100%;
}

.Img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

.Headding {
  position: absolute;
  top: 20%;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  z-index: 300;
}

.Title {
  color: rgb(224, 224, 224);
  font-family: "Pacifico";
  font-size: 3.2rem;
  font-weight: normal;
  margin: 0;
}

.Slogan {
  color: rgb(224, 224, 224);
  font-family: "Rasa", serif;
  font-size: 2.5rem;
  font-weight: normal;
  margin: 0;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 470px) {
  .Headding {
    position: absolute;
    top: 50%;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 300;
  }
  .Title {
    font-family: "Pacifico";
    margin: 0.1rem;
    font-size: 1.9em;
  }

  .Slogan {
    font-size: 1.6em;
    margin: 0.1rem;
  }

  .Headding button {
    margin-top: 1.5rem;
    width: 110px;
    font-size: 0.9em;
  }
}

.Btn {
  margin-bottom: 1rem;
  color: #fff;
  border: 2px solid #ffffff;
  width: 10rem;
  padding: 0.5rem 0.5rem;
  text-transform: uppercase;
  font-size: 1rem;
  background: transparent;
  transition-duration: 0.4s;
  cursor: pointer;
  outline: none;
  font-family: "Roboto";
  height: 3rem;
}

.Btn:hover {
  background: #ffffff;
  color: #00344b;
}
